In [24]:
import pandas as pd

In [25]:
data = pd.read_csv("./healthtap_full_qa_processed_30k_words.csv", delimiter=',')

In [26]:
data['answer_len'] = data['answer'].str.split().apply(len)

In [27]:
data = data.sort_values(['question', 'answer_len'], ascending=True)

In [28]:
data.head(100)

,Unnamed: 0,question,answer,answer_len
918088,918088,! antigens antibodies dna rna sequences toxins...,plenty of them will raise their families in th...,19
1264575,1264575,! been bleeding brown blood since sunday its b...,older deoxygenated blood . note that you repor...,71
97587,97587,! have a burning sensation in my bottom lip . ...,sounds like nerve irritation for one of many r...,38
1854161,1854161,! hve been on methadone maintenance for years ...,any dose . withdrawal from methadone is safe f...,39
1523352,1523352,! i am having a genital herpes out break i was...,probably not . but please remember you will be...,75
...,...,...,...,...
292861,292861,. chest pain . not overly painful . left arm s...,you likely should get professional help in dea...,19
1864984,1864984,. clonazapam times a day and mg tramadol seem ...,both are considered high risk meds and habit f...,33
1864983,1864983,. clonazapam times a day and mg tramadol seem ...,the problem with pain meds is that people deve...,63
518005,518005,. cm bilat persistent neck lymph node in healt...,keep an eye on it and if your physician is not...,29
518004,518004,. cm bilat persistent neck lymph node in healt...,to have an enlarged lymph node followed up . d...,64

In [29]:
data = data.drop_duplicates('question')

In [30]:
data = data.sort_index()

In [31]:
data.head()

,Unnamed: 0,question,answer,answer_len
0,0,like years ago to now i have had some reoccurr...,test to see if you are a carrier of herpes sim...,42
1,1,my year old daughter complains about vaginal i...,make sure she is not . wearing tight fitting :...,33
3,3,my friend is experiencing irritation and she s...,followup with doc . some women use yoghurt as ...,47
5,5,my :unk: is itchy and feels irritated no pain ...,many women do not understand that yeast often ...,68
6,6,my anus has been itchy and burning . went away...,red excoriated skin is likely from a dermatiti...,32

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1446563 entries, 0 to 2032941
Data columns (total 4 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   Unnamed: 0  1446563 non-null  int64
 1   question    1446563 non-null  object
 2   answer      1446563 non-null  object
 3   answer_len  1446563 non-null  int64
dtypes: int64(2), object(2)
memory usage: 55.2+ MB

In [33]:
data = data.reset_index()

In [34]:
data.head()

,index,Unnamed: 0,question,answer,answer_len
0,0,0,like years ago to now i have had some reoccurr...,test to see if you are a carrier of herpes sim...,42
1,1,1,my year old daughter complains about vaginal i...,make sure she is not . wearing tight fitting :...,33
2,3,3,my friend is experiencing irritation and she s...,followup with doc . some women use yoghurt as ...,47
3,5,5,my :unk: is itchy and feels irritated no pain ...,many women do not understand that yeast often ...,68
4,6,6,my anus has been itchy and burning . went away...,red excoriated skin is likely from a dermatiti...,32

In [35]:
data = data[['question', 'answer']]

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1446563 entries, 0 to 1446562
Data columns (total 2 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   question  1446563 non-null  object
 1   answer    1446563 non-null  object
dtypes: object(2)
memory usage: 22.1+ MB

In [37]:
data.to_csv('./healthtap_full_30k_words_nodupli.csv')